html{
    background: no-repeat center fixed;
    background-size: cover;
}

body{
    font-family: retrofont, sans-serif;
    background-color: black;
    color: white;
    font-size:3vw;
}

.buttons{
    font-family: retrofont, sans-serif;
    font-size: 3vw;
    color: black;
    background-color: white''
}

.textinput{
    font-size: 2vw;
}
.minortext{
    font-size: 2vw;
}

#textinput{
    font-size: 2vw;
}

#textoutput{
    font-size: 1vw;
    width: 90%;
    height:auto;
}

#textoutputpre{
    font-size: 1vw;
    width: 90%;
    height:auto;
}

#Logo{
    font-size: 4vw;
}